.c-ranks {
  display: flex;
  color: #24292e;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  & .rank {
    display: flex;
    border: 1px rgba(27, 31, 35, 0.15) solid;
    box-shadow: 0px 1px 0px rgba(27, 31, 35, 0.04);
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  
    .icon {
      color: #586069;
      width: 16px;
    }

    .text {
      margin-left: 4px;
    }

    &:hover {
      .icon {
        color: #31ae54;
      }
    }

    .rank-icon {
      display: flex;
      background: #FAFBFC;
      padding: 6px 12px;
    }

    .rank-text {
      border-left: 1px rgba(27, 31, 35, 0.15) solid;
      padding: 6px 12px;
    }

    + .rank {
      border-radius: 0px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}
